service cloud.firestore {
  match /databases/{database}/documents {
    match /coffeeRun/{anything=**} {
      //
      // WARNING: These rules are insecure! We will replace them with
      // more secure rules later in the codelab
      //
      allow read, write: if true;
    }
  }
}